/* index.css */
body    {background-color:#505050}

*       {font-family: Courier, monospace;}

/*h1, h2  {background-color: lightgray;}*/

p, li   {font-size: 18px; color: #FFFFFF;}

#p01    {color: crimson;}

#BackstageLink
        {font-size: 18px; color: #FFFFFF;}

/* Height & width, blur effect, color*/
img     {box-shadow: 20px 20px 10px black;}